<% groups = Group.where(id: GroupTopic.notJoinedGroups(@topic.id,current_user.id)) %>
<% if groups != [] %>
  <table>
  <%= form_for(GroupTopic.new, :remote => true) do |f| %>
    <tr>
    <td><div class="field">
	  <%= collection_select(:group_topic, :group_id, groups, :id, :name) %>
    </div></td>

    <div class="field">
      <%= f.hidden_field :topic_id, :value => @topic.id %>
    </div>

    <td><div class="actions">
	  <%= submit_tag t("topic.join") %>
    </div></td>
    </tr>
  <% end %>
  </table>
<% end %>
