<% @topics.each do |topic| %>
  <% unless topic.status %>
  <div class="topic_origin">
    <div class="topic_subject"><%= link_to topic.subject, topic %></td>
  	<div class="topic_body"><%= Post.getBody(topic.id) %></div>
  </div>
  <% end %>
<% end %>