<p id="notice"><%= notice %></p>
<% unless @topic.status %>
<section id="join_topic">
  <%= render 'group_topic' %>
</section>
<% end %>

<section id="topic_posts">
  <%= render 'topic_posts' %>
</section>
<%= link_to 'Back', topics_path %>
