<header><h1>Links</h1></header>
<ul>
  <li><%= link_to 'New Group', new_group_path %></li>
  <li><%= link_to 'Post List' , posts_path  %></li>
  <li><%= link_to 'Group List', groups_path %></li>
  <li><%= link_to 'Topic List', topics_path %></li>
</ul>