<% @groups.each do |group| %>
  <% category = Category.searchForGroup(group) %>
  <div id="group">
    <span><%= link_to group.name, group %> - <%= category.name %></span>
    <div id="group_pic"><%= image_tag group.photo.url(:small) %></div>
  </div>
<% end %>