<table id="group_table">
<% i=0 %>
<% @groups.each do |group| %>

  <% if group.visible %>
    <% modi = (i%3) %>
    <% if modi == 0 %>
  <tr>
    <% end %>
    <td class="group">
      <span><%= link_to group.name, group %></span>
      <div class="group_pic">
      	<%= link_to s3(image_tag(group.photo.url(:small))), group %>
      </div>
    </td>
    <% if modi == 2%>
  </tr>
    <% end %>
    <% i+=1 %>
  <% end %>
<% end %>
</table>
