<% k=-1%>
<% @groups.each do |group| %>
  <% category = Category.searchForGroup(group) %>
  <% k = (k+1)%3 %>
  <div class="group colum<%= k %> ">
    <span><%= link_to group.name, group %> - <%= category.name %></span>
    <div id="group_pic"><%= image_tag group.photo.url(:small) %></div>
  </div>
<% end %>