<% @groups.each do |group| %>
  <% if group.visible %>
    <article class="group post_article article">
      <div class="group_left">
        <div class="group_name">
          <%= link_to group.name, group %><br/>
      	  <span class="group_members"><%= GroupUser.users(group.id).count %> members</span>
        </div>
        <div class="group_pic">
    	  <%= link_to s3(image_tag(group.photo.url(:small))), group %>
        </div>
      </div>
      <div class="group_body">
      	<h3>Group Posts Outline</h3>
      	<%= Post.getGroupBody(group.id)%>
      </div>
    </article>
  <% end %>
<% end %>
