<header><h3>Group Topics</h3></header>
<% topics = GroupTopic.topics(@group.id)%>
<% topics = Topic.find(topics)%>
<ul>
<% topics.each do |topic| %>
  <li>
  	<%= link_to topic.subject,topic %>
  	<% gtid = GroupTopic.getFirst(topic.id,@group.id) %>
  	<% if @group.owner_id == current_user.id %>
      <%= link_to "Delete",gtid, :method => :delete, :remote => true, :class => "delete", :confirm => "Are you sure ?"%>
    <% end %>
  </li>
<% end %>
</ul>
