<section id="sidebar">

  <section id="joined_groups">
    <%= render 'joined_groups' %>
  </section>
  
  <section id="links">
    <%= render 'links' %>
  </section>

</section>


<section id="groups">
  <h2>Listing groups</h2>
  <%= render "list_groups" %>
  <%= will_paginate @groups %>
</section>
<br />
