<%= form_tag posts_path, id:'infloader', method:'get', remote: true do |f|%>
  <%= hidden_field_tag :page, "2",id:"page" %>
  <%= hidden_field_tag :search, params[:search]%>
  <div id="infbtn">
  	<%= image_submit_tag("loading.gif") %><br />
  </div>
<% end %>