<h1><%= t 'community.recommend'%></h1>
<ul>
<% @communities[0..5].each do |community| %>
  <li><img class="icon" width="30" height="30" src="<%= s3 community.photo.url(:small) %>"><%= link_to community.name, community %></li>
<% end %>
</ul>
