<section id="posts">

  <section id="new_post_section">
  	<% @post = Post.new %>
    <%= render 'form' %>
  </section>

  <section id="post_list">
    <%= render 'list_posts' %>
  </section>

  <% if GroupUser.groups(current_user.id).count == 1 %>
     <%= render 'explain'%>
  <% end %>
  
  <% if @posts.count == Post.per_page %>
     <%= render 'infbtn' %>
  <% end %>

</section>

