$left : 100px;

#search_post{
  position:absolute;
  top:5px;
  left:5px
}

#login_info {
  position:absolute;
  right:0px;
  top:5px;
}

#navbar{
  margin-top: -8px;
  margin-left: -6px;
  height:38px;
  width:101.3%;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
}

#posts,#group_posts,#topic_posts,#groups{
  border-left: 1px solid gray;
  margin-top: -10px;
}

.colum0,.colum1{
  float: left;
}



#new_post{
  textarea {
    width: 450px;
    height: 150px;
  }
}
.userimg img{
  border-radius: 50%;
}

.user,.date,.no{
  position:relative;
  bottom:20px;
}

#body {
  left: 20px;
}

#image {
  left: 20px;
}

h2 {
  margin-left: $left;
}

.group{
  margin-left: 50px;
}

#new_post,article {
  margin-left: $left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 500px;
  background: white;
  -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
}

#group.field{
  float: left;
}

article{
  margin-top: 40px;

  header{
    border-bottom:1px solid #AAA;
  }
  #body {
    margin-left: 20px;
    margin-top:  10px;
  }
  
}

#topic_subject{
  width:180px;
}

#sidebar {
  float: left;
  width: 200px;
}
