$left : 100px;

body{
  overflow-x: hidden; 
}

#search_post{
  position:absolute;
  top:5px;
  left:5px
}

#login_info {
  position:absolute;
  right:0px;
  top:5px;
}

#navbar{
  height:40px;
  width:110%;
  margin-left:-10px;
  margin-top:-10px;
  color:#AAA;
background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0.04, #5B6361),
  color-stop(0.81, #1B1F1F)
);
background-image: -o-linear-gradient(bottom, #5B6361 4%, #1B1F1F 81%);
background-image: -moz-linear-gradient(bottom, #5B6361 4%, #1B1F1F 81%);
background-image: -webkit-linear-gradient(bottom, #5B6361 4%, #1B1F1F 81%);
background-image: -ms-linear-gradient(bottom, #5B6361 4%, #1B1F1F 81%);
background-image: linear-gradient(to bottom, #5B6361 4%, #1B1F1F 81%);
  -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
}

#posts,#group_posts,#topic_posts,#groups,#topics{
  margin-top: -10px;
}

#new_post{
  textarea {
    width: 450px;
    height: 150px;
  }
}
.userimg img{
  border-radius: 50%;
}

.user,.date,.no{
  position:relative;
  bottom:20px;
}

#body {
  left: 20px;
}

#image {
  left: 20px;
}

h2 {
  margin-left: $left;
}

.pagination{
  margin-left:$left;
}
.group{
  margin-left: 50px;
}

#new_post,article {
  margin-left: $left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 70%;
  background: white;

}

#group.field{
  float: left;
}

article{
  margin-top: 5px;

  header{
    border-bottom:1px solid #AAA;
  }
  #body {
    margin-left: 20px;
    margin-top:  10px;
  }
  
}

#sidebar {
  overflow: auto;
  float: left;
  width: 220px;
  position:fixed;
  height: 92%;
}


