$left : 100px;
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(http://themes.googleusercontent.com/static/fonts/exo2/v1/8C2PVL2WIMUnPF90ukjrZQ.woff) format('woff');
}

#error_explanation{
  width: 300px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
  li {
    font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  
    &:last-child {
      border: none;
    }
 
    a {
      text-decoration: none;
      color: #000;
      display: block;
      width: 200px;
 
      -webkit-transition: font-size 0.2s ease, background-color 0.2s ease;
      -moz-transition: font-size 0.2s ease, background-color 0.2s ease;
      -o-transition: font-size 0.2s ease, background-color 0.2s ease;
      -ms-transition: font-size 0.2s ease, background-color 0.2s ease;
      transition: font-size 0.2s ease, background-color 0.2s ease;
      
      &:hover {
        color: black;
        font-size: 20px;
        background: #f6f6f6;
      }
    }
  }
}

body{
  overflow-x: hidden;
  background-image:url("../assets/back.png");
}

#menu_section{
  position:relative;
  top:5px;
  left:5px;
}

#menu{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:30px;
  line-height:30px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
  }
  &:active {
    position:relative;
    top:1px;
  }
}

#search_post{
  position:absolute;
  top:5px;
  left:5px;
}

#login_info {
  position:absolute;
  right:0px;
  top:5px;
}


#navbar{
  position:fixed;
  z-index:10;
  
  height:40px;
  width:100%;
  top:0px;
  left:0px;
  color:#AAA;
  a{
    color:#CCC;
  }
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.04, #5B6361),
    color-stop(0.81, #1B1F1F)
  );
  background: #2c539e; /* Old browsers */
  background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */

}

#posts,#group_posts,#topic_posts,#groups,#topics{
  margin-top: 60px;
}

#new_post{
  width: 310px;
  textarea {
    width:250px;
    height: 60px;
    margin-left:15px;
    font-family: Tahoma, sans-serif;

    &:focus{
      height:150px;
    }
  }
  
  select{
    width: 140px;
  }
}
#group_topic_form{
  text-align:center;
}


#sidebar input[type="submit"],
#sidebar_2 input[type="submit"],
#navbar input[type="submit"],
select
{        
  display: inline-block;
  white-space: nowrap;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background-image: -webkit-linear-gradient(top, #eee, #ccc);
  background-image: -moz-linear-gradient(top, #eee, #ccc);
  background-image: -ms-linear-gradient(top, #eee, #ccc);
  background-image: -o-linear-gradient(top, #eee, #ccc);
  background-image: linear-gradient(top, #eee, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
  border: 1px solid #777;
  padding: 0 1.5em;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  border-radius: .2em;
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
  &:hover{
    background-color: #ddd;        
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
    background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
    background-image: -moz-linear-gradient(top, #fafafa, #ddd);
    background-image: -ms-linear-gradient(top, #fafafa, #ddd);
    background-image: -o-linear-gradient(top, #fafafa, #ddd);
    background-image: linear-gradient(top, #fafafa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
  }

  &:active{
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
    position: relative;
    top: 1px;
  }

  &:focus{
    outline: 0;
    background: #fafafa;
  }    

  &:before{
    background: #ccc;
    background: rgba(0,0,0,.1);
    float: left;        
    width: 1em;
    text-align: center;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 .2em;
    -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
    -moz-border-radius: .15em 0 0 .15em;
    -webkit-border-radius: .15em 0 0 .15em;
    border-radius: .15em 0 0 .15em;
    pointer-events: none;        
  }
}


#infbtn {
  text-align : center ;
}

#infloader input[type="submit"]{
  background-color:#599bb3;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:1px solid #29668f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  padding:6px 67px;
  text-decoration:none;
  text-shadow:2px 3px 2px #3d768a;
  &:hover {
   background-color:#408c99;
  }
  &:active {
    position:relative;
    top:1px;
  }
}



.userimg img{
  border-radius: 50%;
}

.user,.date,.no{
  position:relative;
  bottom:20px;
}

h2 {
  margin-left: $left;
}

.pagination{
  margin-left:$left;
}
.group{
  margin-left: 50px;
}

//.article{
//  width:330px;
//}

#new_post,.article{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #999;
  background: white;
}

#group.field{
  float: left;
}

article{
  margin-top:10px;
  header{
    border-bottom:1px solid #AAA;
  }
  .body {
    margin-top:  10px;
  }
  
}
hr.block{
  height: 80px;
}



#new_topic,#group_info,#joined_groups,#links,#group_topics{
  width:330px;
  background:#fff;
}

#group_topics{
  a{
    font-size:20px;
    font-family: Exo;
  }
}


$sb: #ebebeb;
$sc: #627e98;
#sidebar,#sidebar_2{
  background: $sb; 
  color: $sc;
  float: left;
  width: 280px;
  font-family: Exo;
  position: fixed;
  z-index: 10;
  left: 0px; /* or right */
  top: 40px;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  section{
    margin-top:10px;
    background: $sb;
    header{
      background: $sb; 
      h1{
       font-size:20px;
      }
    }
    a{
     color: $sc;
     font-size: 20px;
     font-family: Exo;
     height: 50px;
     width:100%;
    }
  }
  ul li{
    background: $sb;
    margin-left:15px;
  }
  input[type=text] {
    padding:5px;
    border:1px solid #ccc; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 240px;
    height: 23px;
    &:focus {
      border-color:#333;
    }
  }
  select,input[type=submit]{
    height: 26px;
  }
  
}

.login,.new_group,.edit_group{
  width: 310px;
  textarea{
    width:90%;
  }
}

.post_article,.group_post_article,#group_posts{
  width: 310px;
  header{
    width:310px;
  }
  #photo{
    margin-left:-17px;
    text-align:center;
  }
}

.login,.new_group,
.edit_group,#new_post,#sidebar_2,
.post_article,.group_post_article,#group_posts{
  position: relative;
  margin: 50px auto;
  padding: 20px 20px 20px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(50, 50, 50, 0.5);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(50, 50, 50, 0.5);

  &:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }

  h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
  }

  p {
    margin: 20px 0 0;
  }

  p:first-child {
    margin-top: 0;
  }

  input[type=text], & input[type=password],& input[type=email] {
    width: 278px;
  }

  p.remember_me {
    float: left;
    line-height: 31px;
  }

  p.remember_me label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
  }

  p.remember_me input {
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
  }

  p.submit {
    text-align: right;
  }
  
  input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
  }

  input[type=submit], button{

    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);

    &:active {
      background: #cde5ef;
      border-color: #9eb9c2 #b3c0c8 #b4ccce;
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    }
  }
  .lt-ie9 input[type=text], .lt-ie9 input[type=password],lt-ie9 input[type=email] {
    line-height: 34px;
  }
  
  input, textarea {
      font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
      font-size: 14px;
  }
  input[type=text], input[type=password],input[type=email]{
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
  }
  
  input[type=text], input[type=password],input[type=email], textarea{

    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  }
}
.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;

  a {
    color: #cce7fa;
    text-decoration: none;
    
    &:hover {
     text-decoration: underline;
    }
  
    :-moz-placeholder {
      color: #c9c9c9 !important;
      font-size: 13px;
    }

    ::-webkit-input-placeholder {
      color: #ccc;
      font-size: 13px;
    }
  }
}