// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#groups{
  margin-top: 30px;
}


#group_table{
  position: absolute;
  td{
    width: 22%;
  }
}

#new_group{
  textarea{
    width:300px;
  }
}

#new_topic{  
  input{
    width:230px;
  }
  
}

td.group{
  div.group_name{
    width:220px;
    background:#fff;
    font-size:15px;
  }

  div.group{
    width:220px;
  }
}