// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#groups{
  margin-top: 30px;
  
  article{
    height:340px;
    img{
      width:310px;
      height: 310px;
    }
  }
  
  .group_left{
    float:left;
  }
  
  .group_body{
    position:absolute;
    margin: 30px auto;
    left:340px;
    width: 150px;
    word-wrap: break-word;
  }
  
}


#new_group{
  textarea{
    width:300px;
  }
}

#new_topic{  
  input[type="text"]{
    width:230px;
  }
  input[type="submit"]{
    width: 310px;
  }
  
}

#group_posts, #groups{
  margin-top: 50px;
}

#group_topic_form{
  text-align:center;
}


#group_topics{
  a{
    font-size:20px;
    font-family: Exo;
  }
}