// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#posts{
  margin-left: auto;
  margin-right: auto;
}
#introduction{
  div{
    position:relative;
    left:10%;
    margin-top:50px;
  }
  
  p{
    font:20px Exo,sans-serif;
  }
}
