// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tags{
  width: 310px;
  .tag_name{
    display: inline-block;
    _display: inline;
    margin-left: 10px;
  }
}
