// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topics{
  margin-top: 30px;
}

#topics,#topic_posts{
  margin-left: 230px;
}

.topic_origin{
  .topic_body{
    color:gray;
    width:50%;
    margin-left:20px;
  }

}

#topic_subject{
  width:180px;
}
