// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topics{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.topic_origin{
  margin-top: 30px;
  .topic_body{
    color:gray;
    width:50%;
    margin-left:20px;
  }

}

#topic_subject{
  width:180px;
}
.topic_post_article{
  width:80%;
  margin-left : auto;
  margin-right : auto ;
  .body{
    margin-left:20px;
    margin-right:20px;
  }
}

#topic_new_post{
  width: 288px;
  textarea{
    width:288px;
    height:100px;
  }
  table select{
    height: 30px;
    width: 165px;
    background: white;
  }
}

