<section id="search_post">
  <%= render 'layouts/search_post' %>
</section>
  
<hr class="block"/>
  
<section id="links">
  <%= render 'layouts/links' %>
</section><br />
  
<section id="joined_groups">
  <%= render 'layouts/joined_groups'%>
</section>